
/* remove colored outline indicator (accessibility) */
*:active, *:enabled {
  outline: none !important;
}

/* circle buttons sizes */
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  position: relative;
  z-index: 1;
}
.btn-circle.btn-md {
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: white;
  line-height: 1;
  border-radius: 20px;
  margin-bottom: 5px;
}

/* normal button color change to Q's grey */
.btn-normal {
  color: #fff;
  background-color: #c8c8c8;
  border-color: #b4b4b4;
}
.btn-normal:focus,
.btn-normal.focus {
  color: #fff;
  background-color: #a0a0a0;
  border-color: #8c8c8c;
}
.btn-normal:hover {
  color: #fff;
  background-color: #a0a0a0;
  border-color: #8c8c8c;
}
.btn-normal:active,
.btn-normal.active,
.open > .dropdown-toggle.btn-normal {
  color: #fff;
  background-color: #a0a0a0;
  border-color: #8c8c8c;
}
.btn-normal:active:hover,
.btn-normal.active:hover,
.open > .dropdown-toggle.btn-normal:hover,
.btn-normal:active:focus,
.btn-normal.active:focus,
.open > .dropdown-toggle.btn-normal:focus,
.btn-normal:active.focus,
.btn-normal.active.focus,
.open > .dropdown-toggle.btn-normal.focus {
  color: #fff;
  background-color: #a0a0a0;
  border-color: #8c8c8c;
}
.btn-normal:active,
.btn-normal.active,
.open > .dropdown-toggle.btn-normal {
  background-image: none;
}
.btn-normal.disabled:hover,
.btn-normal[disabled]:hover,
fieldset[disabled] .btn-normal:hover,
.btn-normal.disabled:focus,
.btn-normal[disabled]:focus,
fieldset[disabled] .btn-normal:focus,
.btn-normal.disabled.focus,
.btn-normal[disabled].focus,
fieldset[disabled] .btn-normal.focus {
  background-color: #a0a0a0;
  border-color: #8c8c8c;
}
.btn-normal .badge {
  color: #a0a0a0;
  background-color: #fff;
}

/* normal button color change to white*/
.btn-white {
  color: #fff;
  background-color: rgba(255,255,255,0);
  border-color: rgba(255,255,255,0);
}
.btn-white:focus,
.btn-white.focus {
  color: #fff;
  background-color: rgba(255,255,255,0);
  border-color: rgba(255,255,255,0);
}
.btn-white:hover {
  color: #fff;
  background-color: rgba(255,255,255,0);
  border-color: rgba(255,255,255,0);
}
.btn-white:active,
.btn-white.active,
.open > .dropdown-toggle.btn-white {
  color: #fff;
  background-color: rgba(255,255,255,0);
  border-color: rgba(255,255,255,0);
}
.btn-white:active:hover,
.btn-white.active:hover,
.open > .dropdown-toggle.btn-white:hover,
.btn-white:active:focus,
.btn-white.active:focus,
.open > .dropdown-toggle.btn-white:focus,
.btn-white:active.focus,
.btn-white.active.focus,
.open > .dropdown-toggle.btn-white.focus {
  color: #fff;
  background-color: rgba(255,255,255,0);
  border-color: rgba(255,255,255,0);
}
.btn-white:active,
.btn-white.active,
.open > .dropdown-toggle.btn-white {
  background-image: none;
}
.btn-white.disabled:hover,
.btn-white[disabled]:hover,
fieldset[disabled] .btn-white:hover,
.btn-white.disabled:focus,
.btn-white[disabled]:focus,
fieldset[disabled] .btn-white:focus,
.btn-white.disabled.focus,
.btn-white[disabled].focus,
fieldset[disabled] .btn-white.focus {
  background-color: rgba(255,255,255,0);
  border-color: rgba(255,255,255,0);
}
.btn-white .badge {
  color: #ffffff;
  background-color: rgba(255,255,255,0);
  border-color: rgba(255,255,255,0);
}
