a{
  color: #00a3e1;
  text-decoration: underline;
}
body{
  color: black;
  line-height: 1.49;
}

.number-position {
  margin-top: 3px;
  margin-bottom: -3px;
}

.title-row{
  margin-top: 3.6vh;
  //padding: 0 calc(1vw) 0 calc(1vw);
  height: 6.4vh;
}
.lo-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 3.833vh;
  font-weight: bold;
  white-space: nowrap;
}

.instruction-row{
  margin-top: 0.75vh;
  //padding: 0 calc(1vw) 0 calc(1vw);
  height: 6.25vh;
}
.lo-instructions {
  font-family: 'Open Sans', sans-serif;
  font-size: 3vh;
  font-weight: bolder;
  white-space: nowrap;
}

.content-format{
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5vh;
  font-weight: normal;
}
.content-small-format{
  font-family: 'Open Sans', sans-serif;
  font-size: 2.25vh;
  font-weight: normal;
}
.content-scroll{
  overflow-y: auto;
  overflow-x: hidden;
}
.content-position{
  //padding: calc(2.5vw) calc(1.0vw) 0 calc(2.0vw);
  padding: 2.4vh 0 0 0;
  height: calc(100vh - 20vw);
}
.content-area{
  height: calc(100vh - 19.5vw);
  //padding-left: calc(0.5vw);
  //padding-top: 1.5vh;
  padding: 0;
}
.content-area-half{
  height: calc(40vh);
}
.content-area-half-top{
  height: calc(50vh - 10vw);
}
.content-area-half-bottom{
  height: calc(50vh - 10vw);
  margin-top: calc(0.5vh);
}
.s03-image{
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.s05-image{
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.media-area{
  padding-top: 2%;
}
.media-border{
  border: 2px solid grey;
  border-radius: 5%;
  padding: calc(4vh);
}
.videoposter-frame{
  border: 4px solid black;
}

.presenter{
  opacity: 1.0;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw);
  height: calc(100vh - 5vw);
  overflow: hidden;
  z-index: 1;
}

@media (min-aspect-ratio: 3/3) {
  .wallpaper-margins{
    left: 0;
  }
  .col-xs-15 {
    width: 37.5%;
  }
  .col-xs-25 {
    width: 62.5%;
  }
  .image-btn{
     right: 1.5vw;
  }
  .close-hyperlink-btn-pos {
    width: 68.75vw;
  }
  .close-image-btn-pos {
    width: 75.75vw;
  }
  .close-video-btn {
    right: 10.25vw;
  }
}

@media (min-aspect-ratio:15/9) {
  .wallpaper-margins{
    left: calc(100vw/2 - 4/3.3*100vh/2);
  }
  .col-xs-15 {
    width: 28.5%;
  }
  .col-xs-25 {
    width: 47.5%;
  }
  .image-btn{
    right: 2vw;
  }
  .close-hyperlink-btn-pos {
    width: 51vw;
  }
  .close-image-btn-pos {
    width: 64.75vw;
  }
  .close-video-btn {
    right: 30vw;
  }
}

.wallpaper{
  background-size: contain;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: calc(100vw);
  height: calc(100vh - 4.75vw);
  background-repeat: no-repeat;
  z-index: -1;
}

/* used for inclusion of Q-Player toolbar - start */
.presenter-with-toolbar{
  opacity: 1.0;
  position: absolute;
  top: 0;
  left: calc(5vw);
  width: calc(95vw);
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.wallpaper-with-toolbar{
  background-size: cover;
  opacity: 0.25;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(95vw);
  height: calc(100vh - 4.75vw);
  z-index: -1;
}
.toolbar-top{
  background-image: url(./ui_images/toolbar-top.png);
  background-size: calc(5vw) calc(40.5vw);
  background-repeat: no-repeat;
  opacity: 1.0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.toolbar-middle{
  background-image: url(./ui_images/toolbar-middle.png);
  background-size: calc(4.95vw) calc(100vh - 45vw);
  background-repeat: repeat;
  opacity: 1.0;
  position: absolute;
  top: calc(40.25vw);
  left: 0;
  width: calc(4.95vw);
  height: calc(100vh - 45vw);
  z-index: -1;
}
.toolbar-bottom{
  background-image: url(./ui_images/toolbar-bottom.png);
  background-size: calc(5vw) calc(5vw);
  background-repeat: no-repeat;
  opacity: 1.0;
  position: absolute;
  top: calc(100vh - 5vw);
  left: 0;
  width: 100%;
  height: calc(5vw);
  z-index: -1;
}
/* used for inclusion of Q-Player toolbar - end */

.image-frame{
  /*border: 10px solid transparent;
  -webkit-border-image: url(./ui_images/imageFrame.png) 40 round; !* Safari 3.1-5 *!
  -o-border-image: url(./ui_images/imageFrame.png) 40 round; !* Opera 11-12.1 *!
  border-image: url(./ui_images/imageFrame.png) 40 round;
  padding: 1px;*/
}
.video-js{
  border: 2px solid black;
}

