
.navbar-p{
  padding-bottom: 10px;
}

.calendar{
  width: 80%;
  top: 5%;
  left: 10%;
  height: 80%;
  background-color: white;
  border: 0.1em solid #9c9b9b;
  z-index: 8999;
  box-shadow: 0.2em 0.2em #dcdbdb;
  display: table;
  position: fixed;
}

.toc-meta{
  padding: 1em;
  height: 12em;
}

.task-btns{
  margin-top: 2%;
  margin-left: 3%;
}

.nav_page_number{
  font-size: 30px;
  color:white;
  text-align: center;
  position:absolute;
  width:40px;
  padding-top:3px;
  z-index:9002;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nav_page_circle{
  top:0px;
  position:absolute;
  z-index:9001;
}
.nav_outer {
  display: table;
  position: fixed;
  z-index:9000;
  touch-action: none;
  border: 0px solid green;
}
.nav_middle {overflow: visible;}
.nav_inner {overflow: visible;}

.navbar-task-btn, .navbar-lo-btn {
  text-align: center;
  position: relative;
  z-index: 1;
}
.navbar-task-btn.btn-md{
  width: 1.15em;
  height: 1.15em;
  font-size: 1.1em;
  padding-top: 0.1em;
  line-height: 1;
  border-radius: 0.57em !important;
  background-color: darkgrey;
}
.navbar-lo-btn.btn-md{
  width: 60px;
  height: 60px;
  font-size: 1em;
  padding: 13px 0;
  line-height: 1;
  border-radius: 30px;
  margin-bottom: 10px;
}

.red-loBtn{
  background-color: red;
}
.blue-loBtn{
  background-color: blue;
}
.green-loBtn{
  background-color: green;
}
.yellow-loBtn{
  background-color: yellow;
}

.btn-nav-close{
  position: absolute;
  right: 2%;
  top: 3%;
  color:grey !important;
  font-size: 1em;
}
.btn-lo-goto{
  position: absolute;
  right: 2%;
  top: 70%;
  color:grey !important;
  background-color: white;
}
.nav-btn-style{
  background-color: white;
  border-color: white
}
