
.toolbar-position{
  position: fixed;
  width: 100%;
  top: calc(100vh - 4.75vw);
}

.toolbar-background{
  background: linear-gradient(#b0b2b4, #d3d3d3, #f6f6f6, white);
}

.toolbar-hr{
  margin: 0 !important;
  border: 0;
  //border-top: 3px solid #979494;
}

.toolbar-btn {
  text-align: center;
  position: relative;
  z-index: 1;
}
.toolbar-btn.btn-md {
  width: calc(5vw);
  height: calc(5vw);
  padding: 0 !important;
  margin-left: -0.5vw;
}

.toolbar-btn:enabled {
  color: darkgrey;
}
.toolbar-btn:disabled {
  color: lightgrey;
}

.btn-primary-outline {
  background-color: transparent;
  border-color: transparent;
}

.toolbar-btn-img{
  position: relative;
  display: inline-block;
  //background-size: contain; // used for .png images
  //background-repeat: no-repeat; // used for .png images
  width: calc(4vw);
  height: calc(4vw);
}
.back-img{
  //background-image: url(./ui_images/BACK.png);
  background: url(./ui_images/lo-tollbar-10-E.svg) no-repeat;
  background-size: contain;
}
.next-img{
  //background-image: url(./ui_images/NEXT.png);
  background: url(./ui_images/lo-tollbar-90-E.svg) no-repeat;
  background-size: contain;
}
.check-img{
  //background-image: url(./ui_images/CHECK.png);
  background: url(./ui_images/lo-tollbar-80-E.svg) no-repeat;
  background-size: contain;
}
.submit-img{
  //background-image: url(./ui_images/SUBMIT.png);
  background: url(./ui_images/lo-tollbar-80-E.svg) no-repeat;
  background-size: contain;
}
.answer-img{
  //background-image: url(./ui_images/ANSWER.png);
  background: url(./ui_images/lo-tollbar-70-D.svg) no-repeat;
  background-size: contain;
}
.reset-img{
  //background-image: url(./ui_images/RESET.png);
  background: url(./ui_images/lo-tollbar-60-S.svg) no-repeat;
  background-size: contain;
}
.star-img{
  //background-image: url(./ui_images/HELP.png);
  background: url(./ui_images/lo-tollbar-50-D.svg) no-repeat;
  background-size: contain;
}
.help-img{
  //background-image: url(./ui_images/HELP.png);
  background: url(./ui_images/lo-tollbar-40-D.svg) no-repeat;
  background-size: contain;
}
.example-img{
  //background-image: url(./ui_images/EXAMPLE.png);
  background: url(./ui_images/lo-tollbar-30-N.svg) no-repeat;
  background-size: contain;
}
.hint-img{
  //background-image: url(./ui_images/HINT.png);
  background: url(./ui_images/lo-tollbar-20-E.svg) no-repeat;
  background-size: contain;
}

.image-btn{
  position: absolute;
  padding: 0;
  margin: 0;
  right: 2vw;
}
.image-btn-img{
  position: relative;
  display: inline-block;
  background-size: contain; // used for .png images
  background-repeat: no-repeat; // used for .png images
  width: calc(4vw);
  height: calc(4vw);
}
.maginfier-img{
  background-image: url(./ui_images/MAGNIFIER.png);
  /*background: url(./ui_images/lo-tollbar-20-E.svg) no-repeat;
  background-size: contain;*/
}
.magnified-img{
  position: fixed;
  top: 29.25vh;
  left: 10vw;
  height: auto;
  width: auto;
  max-width: 76vw;
  max-height: 56vh;
  z-index: 11;
}
.magnified-image-frame{
  border: 1vw solid white;
  border-radius: 2vw;
  box-shadow: -10px 10px 15px 5px #888888;
}

.close-btn-position{
  top: 29.25vh;
  left: 10vw;
  height: 100px;
  position: fixed;
  z-index: 9;
}
.close-image-btn{
  position: absolute;
  padding: 0;
  width: 4vw;
  height: 4vw;
  top: 0px;
  right: 0px;
  z-index: 12;
}
.close-img{
  background-image: url(./ui_images/CLOSEIMAGE.png);
  /*background: url(./ui_images/lo-tollbar-20-E.svg) no-repeat;
  background-size: contain;*/
  background-size: 4vw 4vw;
  background-repeat: no-repeat;
}
.magnified-video{
  height: 61.5vh;
  width: 107vh;
  border: 2.5vh solid black;
  border-right: 5vh solid black;
  border-radius: 3vh;
  box-shadow: -10px 10px 15px 5px #888888;
}

.close-video{
  width: calc(4vh);
  height: calc(4vh);
  background-image: url(./ui_images/CLOSEVIDEO.png);
  /*background: url(./ui_images/lo-tollbar-20-E.svg) no-repeat;
  background-size: contain;*/
}
.close-video-btn{
  position: fixed;
  padding: 0;
  margin: 0;
  right: 10.25vw;
  top: 33vh;
  z-index: 10;
}
.flip-video{
  width: calc(4vh);
  height: calc(4vh);
  background-image: url(./ui_images/FLIP.png);
  /*background: url(./ui_images/lo-tollbar-20-E.svg) no-repeat;
  background-size: contain;*/
}
.flip-video-btn{
  position: fixed;
  padding: 0;
  margin: 0;
  right: 10.25vw;
  top: 38vh;
  z-index: 10;
}

.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar{
  opacity: 1 !important;
}
