
<ng-template #stim >

  <!-- stimText -->
  <div *ngIf="stimTextExist">
    <div class="content-area content-format content-scroll" [innerHTML]="loContent?.content.key_triggerText.value"></div>
  </div>

  <!--  carousele left/back button  -->
  <span *ngIf="carousel">
    <button
      type="button"
      class="btn btn-circle btn-nav btn-carousele-left"
      style=""
      (click)="imageCarousele('back')" >
      <i class="glyphicon glyphicon-menu-left menu-left-style btn-transparent-backg"></i>
    </button>
  </span>

  <!-- stimMedia -->
  <div *ngFor="let media of triggerRichMedia; let indx = index">
    <div *ngIf="media.item == 'Trigger'">
      <span *ngIf="media.type == 'image' && !carousel"  >

        <span (click)="showMagnifiedImage = true">
          <img [src]="media.fileName" class="stim-img img-responsive center-block image-frame" alt="{{media.fileName}}" title="{{media.fileName}}">
        </span>

        <span *ngIf="showMagnifiedImage">
          <div class="close-btn-position close-image-btn-pos">

            <img [src]="media.fileName" class="magnified-img magnified-image-frame" alt="{{media.fileName}}" title="{{media.fileName}}">

            <button
              type="button"
              class="btn close-image-btn btn-md btn-primary-outline"
              style=""
              (click)="showMagnifiedImage = false">
              <i class="close-img image-btn-img"></i>
            </button>

          </div>
        </span>

      </span>

      <span *ngIf="(media.type == 'image' || media.type == 'presentation') && carousel">
        <img  [src]="media.fileName" class="y05-img image-frame" [hidden]="!showCarouselImg[indx]" alt="{{media.fileName}}" title="{{media.fileName}}">
      </span>

      <span *ngIf="media.type == 'video' && !carousel">
        <videojs [videoFile]="media.fileName" [idx]="media.mediaTypeNum" class="video-q" ></videojs>
      </span>

      <span *ngIf="media.type == 'video' && carousel">
          <videojs *ngIf="showCarouselImg[indx]" [videoFile]="media.fileName" [idx]="media.mediaTypeNum" class="video-q" ></videojs>
      </span>

      <span *ngIf="media.type == 'audio'">
        <videojs [videoFile]="media.fileName" [idx]="media.mediaTypeNum" class="video-q" ></videojs>
      </span>
    </div>
  </div>

  <!--  carousele right/forward button  -->
  <span *ngIf="carousel">
    <button
      type="button"
      class="btn btn-circle btn-white btn-nav btn-carousele-right"
      style=""
      (click)="imageCarousele('next')" >
      <i class="glyphicon glyphicon-menu-right menu-right-style"></i>
    </button>
  </span>

</ng-template>
