<div class="container-fluid toolbar-position toolbar-background">

  <!--<div class="row" >
    <hr class="toolbar-hr">
  </div>-->

  <div class="row" >

    <div class="col-xs-2">
        <span class="BackBtn">
            <button
              type="button"
              class="btn toolbar-btn btn-md btn-primary-outline"
              style="margin-left: -0.9vw;"
              [disabled]="!BackBtnState"
              (click)="onClickBackBtn()" >
                <i class="back-img toolbar-btn-img"></i>
            </button>
        </span>
    </div>

    <div class="col-xs-2 col-xs-offset-2" style="padding: 0;">
        <span class="HintBtn">
            <button
              *ngIf="HintBtnShow"
              type="button"
              class="btn toolbar-btn btn-md btn-primary-outline"
              [disabled]="!HintBtnState"
              (click)="onClickHintBtn()" >
                <i class="hint-img toolbar-btn-img"></i>
            </button>
        </span>
    </div>

    <div class="col-xs-2 col-xs-offset-1" style="padding: 0;">
        <span class="ExampleBtn">
            <button
              *ngIf="ExampleBtnShow"
              type="button"
              class="btn toolbar-btn btn-md btn-primary-outline"
              [disabled]="!ExampleBtnState"
              (click)="onClickExampleBtn()" >
                <i class="example-img toolbar-btn-img"></i>
            </button>
        </span>
    </div>

    <div class="col-xs-2 col-xs-offset-1" style="padding: 0;">
        <span class="HelpBtn">
            <button
              *ngIf="HelpBtnShow"
              type="button"
              class="btn toolbar-btn btn-md btn-primary-outline"
              [disabled]="!HelpBtnState"
              (click)="onClickHelpBtn()" >
                <i class="help-img toolbar-btn-img"></i>
            </button>
        </span>
    </div>

    <!--<div class="col-xs-2 col-xs-offset-6">
        <span class="StarBtn">
            <button
              *ngIf="StarBtnShow"
              type="button"
              class="btn toolbar-btn btn-md btn-primary-outline"
              [disabled]="!StarBtnState"
              (click)="onClickStarBtn()" >
                <i class="star-img toolbar-btn-img"></i>
            </button>
        </span>
    </div>-->

    <div class="col-xs-2 col-xs-offset-13" style="padding: 0;">
        <span class="ResetBtn">
            <button
              *ngIf="ResetBtnShow"
              type="button"
              class="btn toolbar-btn btn-md btn-primary-outline"
              [disabled]="!ResetBtnState"
              (click)="onClickResetBtn()" >
                <i class="reset-img toolbar-btn-img"></i>
            </button>
        </span>
    </div>

    <div class="col-xs-2 col-xs-offset-1" style="padding: 0;">
        <span class="AnswerBtn">
            <button
              *ngIf="AnswerBtnShow"
              type="button"
              class="btn toolbar-btn btn-md btn-primary-outline"
              style="margin-left: -0.9vw;"
              [disabled]="!AnswerBtnState"
              (click)="onClickAnswerBtn()" >
                <i class="answer-img toolbar-btn-img"></i>
            </button>
        </span>
    </div>

    <div class="col-xs-2 col-xs-offset-1" style="padding: 0;">
        <span class="CheckBtn">
            <button
              *ngIf="CheckBtnShow"
              type="button"
              class="btn toolbar-btn btn-md btn-primary-outline"
              style="margin-left: -0.9vw;"
              [disabled]="!CheckBtnState"
              (click)="onClickCheckBtn()" >
                <i *ngIf="CheckSubmit" class="check-img toolbar-btn-img"></i>
                <i *ngIf="!CheckSubmit" class="submit-img toolbar-btn-img"></i>
            </button>
        </span>
    </div>

    <!--<div class="col-xs-2 col-xs-offset-2">
        <span class="NavBtn">
            <button
              type="button"
              class="btn toolbar-btn btn-md btn-primary-outline"
              [disabled]="!NavBtnState"
              (click)="navbar.navbarDisplay(true)" >
                <i class="glyphicon glyphicon-calendar"></i>
            </button>
          <app-navbar #navbar></app-navbar>
        </span>
    </div>-->

    <div class="col-xs-2 col-xs-offset-1">
        <span class="NextBtn">
            <button
              type="button"
              [routerLink]="['/' + adjacentLo?.nextLoTemp, '/' + adjacentLo?.nextLoId]"
              class="btn toolbar-btn btn-md btn-primary-outline"
              style="margin-left: -1.4vw;"
              [disabled]="!NextBtnState"
              (click)="onClickNextBtn()" >
                <i class="next-img toolbar-btn-img"></i>
            </button>
        </span>
    </div>

  </div>

</div>
