<!-----  text  -  S-01, S-02, S-04  ------->
<!-- SY-02-00/Bingo! -->


<div class="container-fluid">
  <div class="content-format content-position">

    <div class="row">
      <div class="col-xs-offset-1 content-area" [innerHTML]="loContent?.content.key_contentText.value"></div>
    </div>

  </div>
</div>


<!--<stimulus drag-scroll drag-scroll-x-disabled></stimulus>
<div class="container-fluid">
  <div class="content-format content-position">

    <div class="row">
      <div drag-scroll drag-scroll-x-disabled class="{{columnLayout.leftColWidth}} col-xs-offset-1 content-area" [innerHTML]="loContent?.content.key_contentText.value"></div>
      <div drag-scroll drag-scroll-x-disabled class="{{columnLayout.rightColWidth}} col-xs-offset-1 content-area" [innerHTML]="loContent?.content.key_contentText.value"></div>
    </div>

  </div>
</div>-->
