<div>S02</div>
<!-----  three areas text  -  S-03-01, S-03-03 ------->

<div class="container-fluid">
  <div class="content-format content-position">

    <div class="row">

      <div drag-scroll drag-scroll-x-disabled class="{{columnLayout.leftContWidth}} col-xs-offset-1 content-area">
        <div class="" style="height: 47.5%;" [innerHTML]="loContent?.content.key_contentText_1.value"></div><!-- top left text -->
        <div class="" style="height: 50%; margin-top: 5%" [innerHTML]="loContent?.content.key_contentText_2.value"></div><!-- bottom left text -->
      </div>

      <div drag-scroll drag-scroll-x-disabled class="{{columnLayout.rightContWidth}} col-xs-offset-1 content-area">
        <div class="" style="height: 100%;" [innerHTML]="loContent?.content.key_contentText_3.value"></div><!-- right text -->
      </div>
    </div>

  </div>
</div>
