<!--S03-->
<!-----  two areas text + stimulus -  S-03-02 ------->

<!--<div class="wallpaper" [ngStyle]="{'background-image': wallpaperFile}"></div>-->
<div class="wallpaper-with-toolbar" [ngStyle]="{'background-image': wallpaperFile}"></div>

<header-child></header-child>

<div class="container-fluid">
  <div class="content-format content-position">

    <div class="row">

      <div class="{{columnLayout.leftColWidth}} col-xs-offset-1 content-area content-format">

        <!-- top left content -->
        <div  class="content-area-half-top content-scroll">
          <span [innerHTML]="loContent?.content.key_contentText_11.value | sanitizeHtml" ></span>
          <span [innerHTML]="loContent?.content.key_contentText_12.value | sanitizeHtml" (click)="showHyperlinkImage = true" class="hyperlink-font"></span>
          <span [innerHTML]="loContent?.content.key_contentText_13.value | sanitizeHtml" ></span>
        </div>

        <!-- bottom left content (stim) -->
        <div class="content-area-half-bottom stim-border content-scroll">

          <stim-child></stim-child>

          <!-- magnified hyperlink image window -->
          <span *ngIf="showHyperlinkImage">
            <div class="close-btn-position close-hyperlink-btn-pos">

              <img [src]="hyperlinkImage" class="magnified-img magnified-image-frame">

              <button
                type="button"
                class="btn close-image-btn btn-md btn-primary-outline"
                style=""
                (click)="showHyperlinkImage = false">
                <i class="close-img image-btn-img"></i>
              </button>

            </div>
          </span>

        </div>


      </div>
      <!-- right content colum-->
      <div class="{{columnLayout.rightColWidth}} col-xs-offset-1 content-area content-small-format content-scroll">

        <span class="" [innerHTML]="loContent?.content.key_contentText_31.value | sanitizeHtml"></span>

        <div *ngIf="videoPosterFileName" (click)="showMagnifiedVideo = true">
          <img [src]="videoPosterFileName" class="stim-img img-responsive center-block videoposter-frame">
        </div>


        <span class="" [innerHTML]="loContent?.content.key_contentText_32.value | sanitizeHtml"></span>

      </div>

      <!-- large video window -->
      <div class="magnified-img">
        <div *ngIf="showMagnifiedVideo" class="magnified-video ">
          <!-- large video window close button -->
          <button
            type="button"
            class="btn close-video-btn btn-md btn-primary-outline"
            style=""
            (click)="showMagnifiedVideo = false" >
            <i class="close-video image-btn-img"></i>
          </button>
          <!-- large video window flip button -->
          <button
            type="button"
            class="btn flip-video-btn btn-md btn-primary-outline"
            style="" >
            <i class="flip-video image-btn-img"></i>
          </button>
          <!-- large video window video -->
          <videojs [videoFile]="videoFileName" [idx]="10" class="video-q " ></videojs>

        </div>
      </div>

    </div>

  </div>
</div>
