<!--S07-->
<!-----  stimulus -  S-07 ------->

<!--used for Aug21 demo-->
<div class="wallpaper wallpaper-margins" [ngStyle]="{'background-image': wallpaperFile, 'opacity': 1.0}"></div>
<!--<div class="wallpaper" [ngStyle]="{'background-image': wallpaperFile}"></div>-->
<!--<div class="wallpaper-with-toolbar" [ngStyle]="{'background-image': wallpaperFile}"></div>-->

<header-child></header-child>

<div class="container-fluid">
  <div class="content-format content-position">

    <div class="row">

      <div class="content-area content-format">
          <!--<stim-child></stim-child>-->
      </div>

    </div>

  </div>
</div>

