/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
  /*transform-style: preserve-3d; /*IE10*/
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
  transform: rotateY(180deg);
}

.flip-container:hover .back {
  /*transform: rotateY(0deg); /*IE10*/
}
.flip-container:hover .front {
  /*transform: rotateY(180deg); /*IE10*/
}


.flip-container, .front, .back {
  width: 99%;
  height: 99%;
}
@media screen and (min-aspect-ratio: 15/9){
  .flip-container, .front, .back {
    width: 87%;
    height: 95%;
    margin-left: auto;
  }
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  /*transition: 0.6s; /*IE10*/
  /*transform-style: preserve-3d; /*IE10*/
}
.front {
  margin-left: auto;
  top: 0;
  left: 0;
  z-index: 2;
  /*transform: rotateY(0deg); /*IE10*/
}
.back {
  margin-left: auto;
  margin-right: auto;
  top: calc(10vh);
  left: 0;
  transform: rotateY(180deg);
  /*transform: rotateY(-180deg); /*IE10*/
}
@media screen and (min-aspect-ratio: 15/9){
  .back {
    left: calc(10vw);
  }
}

