/* line 2, ../../sass/_toolbar.scss */
.toolbar-position {
  position: fixed;
  width: 100%;
  top: calc(100vh - 4.75vw);
}

/* line 8, ../../sass/_toolbar.scss */
.toolbar-background {
  background: linear-gradient(#b0b2b4, #d3d3d3, #f6f6f6, white);
}

/* line 12, ../../sass/_toolbar.scss */
.toolbar-hr {
  margin: 0 !important;
  border: 0;
}

/* line 18, ../../sass/_toolbar.scss */
.toolbar-btn {
  text-align: center;
  position: relative;
  z-index: 1;
}

/* line 23, ../../sass/_toolbar.scss */
.toolbar-btn.btn-md {
  width: calc(5vw);
  height: calc(5vw);
  padding: 0 !important;
  margin-left: -0.5vw;
}

/* line 30, ../../sass/_toolbar.scss */
.toolbar-btn:enabled {
  color: darkgrey;
}

/* line 33, ../../sass/_toolbar.scss */
.toolbar-btn:disabled {
  color: lightgrey;
}

/* line 37, ../../sass/_toolbar.scss */
.btn-primary-outline {
  background-color: transparent;
  border-color: transparent;
}

/* line 42, ../../sass/_toolbar.scss */
.toolbar-btn-img {
  position: relative;
  display: inline-block;
  width: calc(4vw);
  height: calc(4vw);
}

/* line 50, ../../sass/_toolbar.scss */
.back-img {
  background: url(./ui_images/lo-tollbar-10-E.svg) no-repeat;
  background-size: contain;
}

/* line 55, ../../sass/_toolbar.scss */
.next-img {
  background: url(./ui_images/lo-tollbar-90-E.svg) no-repeat;
  background-size: contain;
}

/* line 60, ../../sass/_toolbar.scss */
.check-img {
  background: url(./ui_images/lo-tollbar-80-E.svg) no-repeat;
  background-size: contain;
}

/* line 65, ../../sass/_toolbar.scss */
.submit-img {
  background: url(./ui_images/lo-tollbar-80-E.svg) no-repeat;
  background-size: contain;
}

/* line 70, ../../sass/_toolbar.scss */
.answer-img {
  background: url(./ui_images/lo-tollbar-70-D.svg) no-repeat;
  background-size: contain;
}

/* line 75, ../../sass/_toolbar.scss */
.reset-img {
  background: url(./ui_images/lo-tollbar-60-S.svg) no-repeat;
  background-size: contain;
}

/* line 80, ../../sass/_toolbar.scss */
.star-img {
  background: url(./ui_images/lo-tollbar-50-D.svg) no-repeat;
  background-size: contain;
}

/* line 85, ../../sass/_toolbar.scss */
.help-img {
  background: url(./ui_images/lo-tollbar-40-D.svg) no-repeat;
  background-size: contain;
}

/* line 90, ../../sass/_toolbar.scss */
.example-img {
  background: url(./ui_images/lo-tollbar-30-N.svg) no-repeat;
  background-size: contain;
}

/* line 95, ../../sass/_toolbar.scss */
.hint-img {
  background: url(./ui_images/lo-tollbar-20-E.svg) no-repeat;
  background-size: contain;
}

/* line 101, ../../sass/_toolbar.scss */
.image-btn {
  position: absolute;
  padding: 0;
  margin: 0;
  right: 2vw;
}

/* line 107, ../../sass/_toolbar.scss */
.image-btn-img {
  position: relative;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  width: calc(4vw);
  height: calc(4vw);
}

/* line 115, ../../sass/_toolbar.scss */
.maginfier-img {
  background-image: url(./ui_images/MAGNIFIER.png);
  /*background: url(./ui_images/lo-tollbar-20-E.svg) no-repeat;
  background-size: contain;*/
}

/* line 120, ../../sass/_toolbar.scss */
.magnified-img {
  position: fixed;
  top: 29.25vh;
  left: 10vw;
  height: auto;
  width: auto;
  max-width: 76vw;
  max-height: 56vh;
  z-index: 11;
}

/* line 130, ../../sass/_toolbar.scss */
.magnified-image-frame {
  border: 1vw solid white;
  border-radius: 2vw;
  box-shadow: -10px 10px 15px 5px #888888;
}

/* line 136, ../../sass/_toolbar.scss */
.close-btn-position {
  top: 29.25vh;
  left: 10vw;
  height: 100px;
  position: fixed;
  z-index: 9;
}

/* line 143, ../../sass/_toolbar.scss */
.close-image-btn {
  position: absolute;
  padding: 0;
  width: 4vw;
  height: 4vw;
  top: 0px;
  right: 0px;
  z-index: 12;
}

/* line 152, ../../sass/_toolbar.scss */
.close-img {
  background-image: url(./ui_images/CLOSEIMAGE.png);
  /*background: url(./ui_images/lo-tollbar-20-E.svg) no-repeat;
  background-size: contain;*/
  background-size: 4vw 4vw;
  background-repeat: no-repeat;
}

/* line 159, ../../sass/_toolbar.scss */
.magnified-video {
  height: 61.5vh;
  width: 107vh;
  border: 2.5vh solid black;
  border-right: 5vh solid black;
  border-radius: 3vh;
  box-shadow: -10px 10px 15px 5px #888888;
}

/* line 168, ../../sass/_toolbar.scss */
.close-video {
  width: calc(4vh);
  height: calc(4vh);
  background-image: url(./ui_images/CLOSEVIDEO.png);
  /*background: url(./ui_images/lo-tollbar-20-E.svg) no-repeat;
  background-size: contain;*/
}

/* line 175, ../../sass/_toolbar.scss */
.close-video-btn {
  position: fixed;
  padding: 0;
  margin: 0;
  right: 10.25vw;
  top: 33vh;
  z-index: 10;
}

/* line 183, ../../sass/_toolbar.scss */
.flip-video {
  width: calc(4vh);
  height: calc(4vh);
  background-image: url(./ui_images/FLIP.png);
  /*background: url(./ui_images/lo-tollbar-20-E.svg) no-repeat;
  background-size: contain;*/
}

/* line 190, ../../sass/_toolbar.scss */
.flip-video-btn {
  position: fixed;
  padding: 0;
  margin: 0;
  right: 10.25vw;
  top: 38vh;
  z-index: 10;
}

/* line 199, ../../sass/_toolbar.scss */
.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
  opacity: 1 !important;
}

/* line 2, ../../sass/_navbar.scss */
.navbar-p {
  padding-bottom: 10px;
}

/* line 6, ../../sass/_navbar.scss */
.calendar {
  width: 80%;
  top: 5%;
  left: 10%;
  height: 80%;
  background-color: white;
  border: 0.1em solid #9c9b9b;
  z-index: 8999;
  box-shadow: 0.2em 0.2em #dcdbdb;
  display: table;
  position: fixed;
}

/* line 19, ../../sass/_navbar.scss */
.toc-meta {
  padding: 1em;
  height: 12em;
}

/* line 24, ../../sass/_navbar.scss */
.task-btns {
  margin-top: 2%;
  margin-left: 3%;
}

/* line 29, ../../sass/_navbar.scss */
.nav_page_number {
  font-size: 30px;
  color: white;
  text-align: center;
  position: absolute;
  width: 40px;
  padding-top: 3px;
  z-index: 9002;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 44, ../../sass/_navbar.scss */
.nav_page_circle {
  top: 0px;
  position: absolute;
  z-index: 9001;
}

/* line 49, ../../sass/_navbar.scss */
.nav_outer {
  display: table;
  position: fixed;
  z-index: 9000;
  touch-action: none;
  border: 0px solid green;
}

/* line 56, ../../sass/_navbar.scss */
.nav_middle {
  overflow: visible;
}

/* line 57, ../../sass/_navbar.scss */
.nav_inner {
  overflow: visible;
}

/* line 59, ../../sass/_navbar.scss */
.navbar-task-btn, .navbar-lo-btn {
  text-align: center;
  position: relative;
  z-index: 1;
}

/* line 64, ../../sass/_navbar.scss */
.navbar-task-btn.btn-md {
  width: 1.15em;
  height: 1.15em;
  font-size: 1.1em;
  padding-top: 0.1em;
  line-height: 1;
  border-radius: 0.57em !important;
  background-color: darkgrey;
}

/* line 73, ../../sass/_navbar.scss */
.navbar-lo-btn.btn-md {
  width: 60px;
  height: 60px;
  font-size: 1em;
  padding: 13px 0;
  line-height: 1;
  border-radius: 30px;
  margin-bottom: 10px;
}

/* line 83, ../../sass/_navbar.scss */
.red-loBtn {
  background-color: red;
}

/* line 86, ../../sass/_navbar.scss */
.blue-loBtn {
  background-color: blue;
}

/* line 89, ../../sass/_navbar.scss */
.green-loBtn {
  background-color: green;
}

/* line 92, ../../sass/_navbar.scss */
.yellow-loBtn {
  background-color: yellow;
}

/* line 96, ../../sass/_navbar.scss */
.btn-nav-close {
  position: absolute;
  right: 2%;
  top: 3%;
  color: grey !important;
  font-size: 1em;
}

/* line 103, ../../sass/_navbar.scss */
.btn-lo-goto {
  position: absolute;
  right: 2%;
  top: 70%;
  color: grey !important;
  background-color: white;
}

/* line 110, ../../sass/_navbar.scss */
.nav-btn-style {
  background-color: white;
  border-color: white;
}

/* remove colored outline indicator (accessibility) */
/* line 3, ../../sass/_allBtns.scss */
*:active, *:enabled {
  outline: none !important;
}

/* circle buttons sizes */
/* line 8, ../../sass/_allBtns.scss */
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  position: relative;
  z-index: 1;
}

/* line 19, ../../sass/_allBtns.scss */
.btn-circle.btn-md {
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: white;
  line-height: 1;
  border-radius: 20px;
  margin-bottom: 5px;
}

/* normal button color change to Q's grey */
/* line 30, ../../sass/_allBtns.scss */
.btn-normal {
  color: #fff;
  background-color: #c8c8c8;
  border-color: #b4b4b4;
}

/* line 35, ../../sass/_allBtns.scss */
.btn-normal:focus,
.btn-normal.focus {
  color: #fff;
  background-color: #a0a0a0;
  border-color: #8c8c8c;
}

/* line 41, ../../sass/_allBtns.scss */
.btn-normal:hover {
  color: #fff;
  background-color: #a0a0a0;
  border-color: #8c8c8c;
}

/* line 46, ../../sass/_allBtns.scss */
.btn-normal:active,
.btn-normal.active,
.open > .dropdown-toggle.btn-normal {
  color: #fff;
  background-color: #a0a0a0;
  border-color: #8c8c8c;
}

/* line 53, ../../sass/_allBtns.scss */
.btn-normal:active:hover,
.btn-normal.active:hover,
.open > .dropdown-toggle.btn-normal:hover,
.btn-normal:active:focus,
.btn-normal.active:focus,
.open > .dropdown-toggle.btn-normal:focus,
.btn-normal:active.focus,
.btn-normal.active.focus,
.open > .dropdown-toggle.btn-normal.focus {
  color: #fff;
  background-color: #a0a0a0;
  border-color: #8c8c8c;
}

/* line 66, ../../sass/_allBtns.scss */
.btn-normal:active,
.btn-normal.active,
.open > .dropdown-toggle.btn-normal {
  background-image: none;
}

/* line 71, ../../sass/_allBtns.scss */
.btn-normal.disabled:hover,
.btn-normal[disabled]:hover,
fieldset[disabled] .btn-normal:hover,
.btn-normal.disabled:focus,
.btn-normal[disabled]:focus,
fieldset[disabled] .btn-normal:focus,
.btn-normal.disabled.focus,
.btn-normal[disabled].focus,
fieldset[disabled] .btn-normal.focus {
  background-color: #a0a0a0;
  border-color: #8c8c8c;
}

/* line 83, ../../sass/_allBtns.scss */
.btn-normal .badge {
  color: #a0a0a0;
  background-color: #fff;
}

/* normal button color change to white*/
/* line 89, ../../sass/_allBtns.scss */
.btn-white {
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}

/* line 94, ../../sass/_allBtns.scss */
.btn-white:focus,
.btn-white.focus {
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}

/* line 100, ../../sass/_allBtns.scss */
.btn-white:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}

/* line 105, ../../sass/_allBtns.scss */
.btn-white:active,
.btn-white.active,
.open > .dropdown-toggle.btn-white {
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}

/* line 112, ../../sass/_allBtns.scss */
.btn-white:active:hover,
.btn-white.active:hover,
.open > .dropdown-toggle.btn-white:hover,
.btn-white:active:focus,
.btn-white.active:focus,
.open > .dropdown-toggle.btn-white:focus,
.btn-white:active.focus,
.btn-white.active.focus,
.open > .dropdown-toggle.btn-white.focus {
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}

/* line 125, ../../sass/_allBtns.scss */
.btn-white:active,
.btn-white.active,
.open > .dropdown-toggle.btn-white {
  background-image: none;
}

/* line 130, ../../sass/_allBtns.scss */
.btn-white.disabled:hover,
.btn-white[disabled]:hover,
fieldset[disabled] .btn-white:hover,
.btn-white.disabled:focus,
.btn-white[disabled]:focus,
fieldset[disabled] .btn-white:focus,
.btn-white.disabled.focus,
.btn-white[disabled].focus,
fieldset[disabled] .btn-white.focus {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}

/* line 142, ../../sass/_allBtns.scss */
.btn-white .badge {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}

/* line 1, ../../sass/_los.scss */
a {
  color: #00a3e1;
  text-decoration: underline;
}

/* line 5, ../../sass/_los.scss */
body {
  color: black;
  line-height: 1.49;
}

/* line 10, ../../sass/_los.scss */
.number-position {
  margin-top: 3px;
  margin-bottom: -3px;
}

/* line 15, ../../sass/_los.scss */
.title-row {
  margin-top: 3.6vh;
  height: 6.4vh;
}

/* line 20, ../../sass/_los.scss */
.lo-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 3.833vh;
  font-weight: bold;
  white-space: nowrap;
}

/* line 27, ../../sass/_los.scss */
.instruction-row {
  margin-top: 0.75vh;
  height: 6.25vh;
}

/* line 32, ../../sass/_los.scss */
.lo-instructions {
  font-family: 'Open Sans', sans-serif;
  font-size: 3vh;
  font-weight: bolder;
  white-space: nowrap;
}

/* line 39, ../../sass/_los.scss */
.content-format {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5vh;
  font-weight: normal;
}

/* line 44, ../../sass/_los.scss */
.content-small-format {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.25vh;
  font-weight: normal;
}

/* line 49, ../../sass/_los.scss */
.content-scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

/* line 53, ../../sass/_los.scss */
.content-position {
  padding: 2.4vh 0 0 0;
  height: calc(100vh - 20vw);
}

/* line 58, ../../sass/_los.scss */
.content-area {
  height: calc(100vh - 19.5vw);
  padding: 0;
}

/* line 64, ../../sass/_los.scss */
.content-area-half {
  height: calc(40vh);
}

/* line 67, ../../sass/_los.scss */
.content-area-half-top {
  height: calc(50vh - 10vw);
}

/* line 70, ../../sass/_los.scss */
.content-area-half-bottom {
  height: calc(50vh - 10vw);
  margin-top: calc(0.5vh);
}

/* line 74, ../../sass/_los.scss */
.s03-image {
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* line 81, ../../sass/_los.scss */
.s05-image {
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* line 88, ../../sass/_los.scss */
.media-area {
  padding-top: 2%;
}

/* line 91, ../../sass/_los.scss */
.media-border {
  border: 2px solid grey;
  border-radius: 5%;
  padding: calc(4vh);
}

/* line 96, ../../sass/_los.scss */
.videoposter-frame {
  border: 4px solid black;
}

/* line 100, ../../sass/_los.scss */
.presenter {
  opacity: 1.0;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw);
  height: calc(100vh - 5vw);
  overflow: hidden;
  z-index: 1;
}

@media (min-aspect-ratio: 3 / 3) {
  /* line 112, ../../sass/_los.scss */
  .wallpaper-margins {
    left: 0;
  }

  /* line 115, ../../sass/_los.scss */
  .col-xs-15 {
    width: 37.5%;
  }

  /* line 118, ../../sass/_los.scss */
  .col-xs-25 {
    width: 62.5%;
  }

  /* line 121, ../../sass/_los.scss */
  .image-btn {
    right: 1.5vw;
  }

  /* line 124, ../../sass/_los.scss */
  .close-hyperlink-btn-pos {
    width: 68.75vw;
  }

  /* line 127, ../../sass/_los.scss */
  .close-image-btn-pos {
    width: 75.75vw;
  }

  /* line 130, ../../sass/_los.scss */
  .close-video-btn {
    right: 10.25vw;
  }
}
@media (min-aspect-ratio: 15 / 9) {
  /* line 136, ../../sass/_los.scss */
  .wallpaper-margins {
    left: calc(100vw/2 - 4/3.3*100vh/2);
  }

  /* line 139, ../../sass/_los.scss */
  .col-xs-15 {
    width: 28.5%;
  }

  /* line 142, ../../sass/_los.scss */
  .col-xs-25 {
    width: 47.5%;
  }

  /* line 145, ../../sass/_los.scss */
  .image-btn {
    right: 2vw;
  }

  /* line 148, ../../sass/_los.scss */
  .close-hyperlink-btn-pos {
    width: 51vw;
  }

  /* line 151, ../../sass/_los.scss */
  .close-image-btn-pos {
    width: 64.75vw;
  }

  /* line 154, ../../sass/_los.scss */
  .close-video-btn {
    right: 30vw;
  }
}
/* line 159, ../../sass/_los.scss */
.wallpaper {
  background-size: contain;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: calc(100vw);
  height: calc(100vh - 4.75vw);
  background-repeat: no-repeat;
  z-index: -1;
}

/* used for inclusion of Q-Player toolbar - start */
/* line 171, ../../sass/_los.scss */
.presenter-with-toolbar {
  opacity: 1.0;
  position: absolute;
  top: 0;
  left: calc(5vw);
  width: calc(95vw);
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

/* line 181, ../../sass/_los.scss */
.wallpaper-with-toolbar {
  background-size: cover;
  opacity: 0.25;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(95vw);
  height: calc(100vh - 4.75vw);
  z-index: -1;
}

/* line 191, ../../sass/_los.scss */
.toolbar-top {
  background-image: url(./ui_images/toolbar-top.png);
  background-size: calc(5vw) calc(40.5vw);
  background-repeat: no-repeat;
  opacity: 1.0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* line 203, ../../sass/_los.scss */
.toolbar-middle {
  background-image: url(./ui_images/toolbar-middle.png);
  background-size: calc(4.95vw) calc(100vh - 45vw);
  background-repeat: repeat;
  opacity: 1.0;
  position: absolute;
  top: calc(40.25vw);
  left: 0;
  width: calc(4.95vw);
  height: calc(100vh - 45vw);
  z-index: -1;
}

/* line 215, ../../sass/_los.scss */
.toolbar-bottom {
  background-image: url(./ui_images/toolbar-bottom.png);
  background-size: calc(5vw) calc(5vw);
  background-repeat: no-repeat;
  opacity: 1.0;
  position: absolute;
  top: calc(100vh - 5vw);
  left: 0;
  width: 100%;
  height: calc(5vw);
  z-index: -1;
}

/* used for inclusion of Q-Player toolbar - end */
/* line 229, ../../sass/_los.scss */
.image-frame {
  /*border: 10px solid transparent;
  -webkit-border-image: url(./ui_images/imageFrame.png) 40 round; !* Safari 3.1-5 *!
  -o-border-image: url(./ui_images/imageFrame.png) 40 round; !* Opera 11-12.1 *!
  border-image: url(./ui_images/imageFrame.png) 40 round;
  padding: 1px;*/
}

/* line 236, ../../sass/_los.scss */
.video-js {
  border: 2px solid black;
}
