
<!-- remove when toolbar is realized by Q-Player -->
<div class="toolbar-top"></div>
<div class="toolbar-middle"></div>
<div class="toolbar-bottom"></div>

<!-- use "presenter-with-toolbar" when toolbar is realized by Q-Player -->
<!--<div class="presenter">-->
<div class="presenter-with-toolbar">

  <app-navbar>Loading navbar...</app-navbar>
  <router-outlet></router-outlet>
  <app-toolbar>Loading toolbar...</app-toolbar>

</div>
